display: flex;
flex-direction: row;
align-items: stretch;


/*@font-face{
  font-family: 'Akrobat' sans-serif;
  src: url('../akrobat/Akrobat-Black.otf');
  font-style: black;
}*/

.sidebar {
  top: 0;
  right: 0;
  background:#f4f4f2;
  height: 90.5vh;
  width: 40vw;
  padding: 3vw;
  font-size: 2vh;
  font-family: 'Akrobat';
  color: #464646;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.overlay{
  font-family: 'Akrobat';
  font-weight: bold;
  height: 90.5vh;
  font-size: 2vh;
  margin-bottom: 1vh;
  color: #464646;
  padding: 1vw;
  display: inline-block;
  flex-grow: 20;
}

.description{
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 700px) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;

  .sidebar {
    padding: 5vw;
    width: 86vw;
    height: 25vh;
  }
  .overlay{
    width: 100vw;
    height: 66.5vh;
  }
  .description{
    flex-direction: row;
    align-items: center;
  }

  .description .divider {
    width: 0.5vw;
    height: 10vh;
  }

  .description svg {
    width: 0.5vw;
    height: 5vh;
    flex-grow: 1;
    margin: 1vw;
  }
  .description .header{
    display: inline-block;
    flex-grow: 3;
    font-size: 4vw;
    width: 10vw;
    padding:0;
  }

  .description .textbody{
    font-size: 2.5vw;
    flex-grow: 5;
    padding:0;
    width: 30vw;
    display: inline-block;
  }

  .description .logo{
    font-size: 3vw;
    flex-grow: 1;
    display: inline-block;
  }

  .need-icons{
    padding-right: 0;
  }

}

.need-icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 6vw;
  height: 20vh;
  align-content: flex-start;
}

.divider{
  fill: #595959;
  height: 0.5vw;
  width: 15vw;

}
.logo{
  width: 10vw;
  margin: 1vh;
}

.header {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 3vw;
  width: 30vw;
  padding-bottom: 1vh;
  margin-left: 0;
  color: #464646;
}

.need-icons a {
  height: 5vh;
  padding-bottom: 1vh;
}

.logo-unselect{
  padding-right: 2vh;
  width: 5vh;
  height: 5vh;
  display: inline;
}

.logo-select{
  padding-right: 2vh;
  width: 5vh;
  height: 5vh;
  display: none;
}

.sidebar .active .logo-unselect{
  display: none;
}

.sidebar .active .logo-select{
  display: inline;
}

.textbody{
  padding-right: 15vh;
  padding-bottom: 1vh;
}


h3 {
  font-family: 'Proxima Nova';
  font-weight: bold;
  margin-bottom: 0;
}

.need-text{
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-size: 4vh;
  flex-wrap: wrap;
  padding-right: 10vw;
  height: 15vh;
}

.need-body{
  font-family: 'Akrobat';
  font-size: 1.5vh;
  flex-wrap: wrap;
  padding-right: 0;
  color: #999999;
}

.chart{
  padding-top: 5vh;
  position: absolute;
}

.horiz-dotted {
  border-bottom: 2px dashed #999999;
  width: 15vh;
}