body {
  margin:0;
}

#map {
  position: absolute;
  height: 100%;
  width: 70vw;
  left: 0;
  top: 0;
  z-index: -1;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  background:#525251;
  z-index: 1;
}

.footer-content-holder{
  display:flex;
  justify-content: center;
}  

.footer-text{
  font-family:'Proxima Nova';
  color: white;
  text-align:center;
  padding-right: 2vh;
  font-size:1.5vh;
}

.redirect-buttons{
  text-decoration:none;
}

@font-face {
  font-family: 'Akrobat';
  src: url('/static/fonts/Akrobat-Black.otf');
  font-style: black;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/ProximaNova-Regular.otf');
  font-style: black;
}

@media all and (max-width: 700px) {
  #map {
    height: 70%;
    width: 100%;
  }
}

