body {
  margin:0;
}

#map {
  position: absolute;
  height: 100%;
  width: 70vw;
  left: 0;
  top: 0;
}

.App {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

@font-face {
  font-family: 'Akrobat';
  src: url('/static/fonts/Akrobat-Black.otf');
  font-style: black;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/static/fonts/ProximaNova-Regular.otf');
  font-style: black;
}
